
body{
display: flex;
justify-content: center;
}
.Song{
    border: solid 2px;
    height: 100px; 
    display: inline-block;
    padding: 15px;
    border-radius: 20px;
}
img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}